#item {
    width: 50%;
    float: left;
}

#news {
    width: 50%;
    float: right;
}

#claims {
    list-style-type: none;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 65vh;
}

.claim {
    border-style: dashed;
    padding: 1%;
    display: flex;

}

.reference {
    list-style-type: none;
    padding: 0;
    margin-left: 2.5%;
}

.floatingForm {
    background-color: rgba(255, 255, 255, 1);
    display: block;
}

.floatingForm h5 {
    margin: 0;
}

.floatingForm input{
    padding: 0.4em 1em;
    border: 1px solid #dbdbdb;
}


button {
    position:relative;
    padding: .5em 1em;
    left:-0.5em;
    border-style: none;
}

button:hover {
    background-color: rgb(96,96,96);
}

details p {
    margin-left: 2.5%;
}