#curation {
    width: 30%;
    float: left;
}

#curationForm {
}

#item {
    width: 70%;
    float: right;
}

.statement {
}

.claim {
    list-style-type: none;
    padding: 0;
}

.qualifier {
    list-style-type: none;
    padding: 0;
}

.reference {
    list-style-type: none;
    padding: 0;
}
