#curation {
    width: 40%;
    float: left;
}

#item {
    width: 60%;
    float: right;
}

#curationForm {
    display: inline-block;
}

#curatedClaims {
    display: block;
}

#curatedClaims ul {
    list-style-type: none;
}

.statement {
}

.claim {
    list-style-type: none;
    padding: 0;
}

.qualifier {
    list-style-type: none;
    padding: 0;
}

.reference {
    list-style-type: none;
    padding: 0;
}

input[type=url] {
    color: rgb(0, 0, 255);
    text-decoration: underline;
}
