footer {
    position: fixed;
    bottom: 2.5%;
    width: 100%;
    text-align: center;
}

footer a {
    margin-left: 5%;
    margin-right: 5%;
    padding: 1% 1% 1% 1%;
    font-weight: bold;
    border-style: solid;
    border-color: rgb(0,0,0);
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
}

footer a:hover {
    color: rgb(96,96,96);
}