/*
* Some of the document is copied from
*  http://www.456bereastreet.com/lab/developing_with_web_standards/csslayout/2-col/ 
*/
body, html {
    margin: 0;
    color: #000;
}

#wditem {
    float: center;
    width: 0.5;
    height: 100%;
    display: inline-block;
}

#item {
    overflow-y: scroll;
    height: 75vh;
}

#curation {
    float: left;
    width: 0.5;
    height: 100%;
    display: inline-block;
}

.referenceField {
    border-style: solid;
}
