#search, #suggestions, #results {
    margin: 0 auto;
    width: 80%;
}

#recentedits, #neededits {
    display: inline-block;
    padding: 0.5em;
}

.searchoption {
    display: inline-block;
    border-style: dashed;
    padding: 0.5em;
    margin-top: 5%;
}

#directsearch, #categorysearch  {
    display: inline-table;
}

#directsearch {
    float: left;
}

#categorysearch {
    float: right;
}

#searchinput {
    padding: 0.4em 1em;
    border: 1px solid #dbdbdb;
}

#categoryselect {
    padding: 0.3em 1em;
    border: 1px solid #dbdbdb;
    width: 15em;
}

button {
    position:relative;
    padding: .5em 1em;
    left:-0.5em;
    border-style: none;
}

button:hover {
    background-color: rgb(96,96,96);
}

#results {
    margin-top: 10%;
    display: flex;
}
#results ul {
    overflow-y: scroll;
    height: 50vh;
}